<!--previous.html-->
<!DOCTYPE html>
<html>
	<head>
		<title>이전 기록 열람</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

		<style>
		#tab3 {
			font-weight: bold;
		}
		</style>

		<link rel="preconnect" href="https://fonts.googleapis.com">
    	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    	<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
	</head>

	<body>
		<header>
			<span><a href="/" class="Merriweather">To CloThes</a></span>
			<span><a href="/intro" class="nav-link" id="tab1">서비스 소개</a></span>
			<span><a href="/use" class="nav-link" id="tab2">서비스 이용</a></span>
			<span><a href="/previous" class="nav-link" id="tab3">이전 기록 열람</a></span>
			<span><a href="/login" class="Merriweather-small">Login</a></span>
		</header>

		<div class="banner-container">
			<h2>이전 기록 열람</h2>
			<img src="{{ url_for('static', filename='img/toclothes.jpg') }}" alt="Description of image1" width=1024>
		</div>


	</body>
</html>
