<!--serviceIntro.html-->
<!DOCTYPE html>
<html>
	<head>
		<title>서비스 소개</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

		<style>
		#tab1 {
			font-weight: bold;
		}

		.intro {
			margin-top: 70px;
		}
		</style>

		<link rel="preconnect" href="https://fonts.googleapis.com">
    	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    	<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
	</head>

	<body>
		<header>
			<span><a href="/" class="Merriweather">To CloThes</a></span>
			<span><a href="/intro" class="nav-link" id="tab1">서비스 소개</a></span>
			<span><a href="/use" class="nav-link" id="tab2">서비스 이용</a></span>
			<span><a href="/previous" class="nav-link" id="tab3">이전 기록 열람</a></span>
			<span><a href="/login" class="Merriweather-small">Login</a></span>
		</header>

		<div class="banner-container">
			<h2>서비스 소개</h2>
			<img src="{{ url_for('static', filename='img/toclothes.jpg')}}" width=1024>
		</div>

		<div class="intro">
			<p>지나가는 사람의 옷을 보고<br>&quot;저 옷 좀 예쁜데? 저 옷 나도 사고 싶은데?&quot; 처럼<br>찾고 싶은 옷은 있는데<br>어떻게 찾아야 할지 몰라 찾지 못한 경험 있으신가요?</p>
			<p>바로 그럴 때 사용할 수 있는</p>
			<p class="Merriweather">To CloThes</p>
			<p>그 때 봤던 그 옷!<br>머리로만 그려지는 그 옷!<br>내가 원하는 그 옷!</p>
			<p><strong>스케치만으로</strong> 원하는 옷을 찾아드립니다.</p>
		</div>
	</body>
</html>
