<!-- serviceDrawBoard.html-->
<!DOCTYPE html>
<html>
	<head>
		<title>의류 그림판</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

		<style>
			#tab2 {
				font-weight: bold;
			}

			body {
				background-color: #eee;
			}

			p {
				text-align: left;
			}

			.main-button {
				padding: 5px 8px;
			}
		</style>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
	</head>

	<body>
		<header>
			<span><a href="/" class="Merriweather">To CloThes</a></span>
			<span><a href="/intro" class="nav-link" id="tab1">서비스 소개</a></span>
			<span><a href="/use" class="nav-link" id="tab2">서비스 이용</a></span>
			<span><a href="/previous" class="nav-link" id="tab3">이전 기록 열람</a></span>
			<span><a href="/login" class="Merriweather-small">Login</a></span>
		</header>

		<div class="controls_btns">
			<button id="jsUndo" class="main-button">
				<img src="{{ url_for('static', filename='img/button-undo.png') }}" width="20" alt="뒤로가기">
			</button>
			<button id="jsDraw" class="main-button">
				<img src="{{ url_for('static', filename='img/button-draw.png') }}" width="20" alt="그리기">
			</button>
			<button id="jsErase" class="main-button">
				<img src="{{ url_for('static', filename='img/button-erase.png') }}" width="20" alt="지우기">
			</button>
			<button id="openPopupBtn">Open Popup</button>
			<form class="imageForm" action="/drawing/analyze" method="post">
				<input type="hidden" id="imageData" name="imageData">
        		<input type="hidden" id="identifier" name="identifier">
				<button type="submit" id="jsSave" class="main-button" value="이미지 전송">
					<img src="{{ url_for('static', filename='img/button-search.png') }}" width="20" alt="저장하기">
				</button>
			</form>
		</div>
		<canvas id="jsCanvas" class="canvas"></canvas>
		<div class="controls">
			<div class="controls_range">
				<input type="range" id="jsRange" min="0.1" max="5.0" value="2.5" step="0.1"/>
			</div>
			<div class="controls_colors" id="JSColors">
				<div class="controls_color jsColor" style="background-color: black;"></div>
				<div class="controls_color jsColor" style="background-color: white;"></div>
				<div class="controls_color jsColor" style="background-color: red;"></div>
				<div class="controls_color jsColor" style="background-color: orange;"></div>
				<div class="controls_color jsColor" style="background-color: yellow;"></div>
				<div class="controls_color jsColor" style="background-color: green;"></div>
				<div class="controls_color jsColor" style="background-color: blue;"></div>
				<div class="controls_color jsColor" style="background-color: navy;"></div>
				<div class="controls_color jsColor" style="background-color: purple;"></div>
			</div>
		</div>
		<script src="{{ url_for('static', filename='js/drawBoard.js') }}"></script>
		<script>
			document.getElementById('openPopupBtn').addEventListener('click', function() {
            	// 팝업 창을 엽니다.
            	window.open('/drawing/popup', 'Popup', 'width=400,height=200');
        	});

        	// 팝업에서 전달된 identifier 값을 받아와서 설정합니다.
        	window.addEventListener('message', function(event) {
        	    const identifier = event.data;
        	    document.getElementById('identifier').value = identifier;
        	});

        	// 이미지 데이터 설정
        	const imageData = "Your image data"; // 이미지 데이터 설정
        	document.getElementById('imageData').value = imageData;
		</script>
	</body>
</html>
